* {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  position: relative;
}

body {
  /* background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url("/assets/ctcusbg.png"); */
  display: flex;
  flex-direction: column;
  background-image: url("/assets/ctcusbg.png");
  left: 0;
  background-color: #f1f1f1f1;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: 0vw 4vw;
  overflow-x: hidden;
}
#ctc-us {
  text-decoration: underline;
  color: #ffb32b;
  min-height: 1rem;
}
nav img,
nav .fa {
  display: none;
  width: 6vw;
}
#hamburger {
  /* z-index: 2; */
  color: white;
}

.nav-menu i {
  display: none;
}
.logo {
  max-height: 16%;
  max-width: 16%;
  margin-top: 26%;
  margin-left: 6%;
}

.header {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 0;
  top: 0;
  padding: 4%;
  margin-left: 4%;
  color: whitesmoke;
  font-weight: bolder;
  cursor: pointer;
  font-size: 1.2vw;
}

ul li {
  list-style: none;
  margin-bottom: 0.6%;
}

ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: 0.2s;
}
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: whitesmoke;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 0.09s ease;
  mix-blend-mode: difference;
}
ul li:hover ~ .cursor {
  transform: scale(2);
}

.header a {
  width: 100%;
  margin-bottom: 0.4vw;
  color: whitesmoke;
  text-decoration: none;
}

.header a:hover {
  transition: 0.4s;
  color: #f7c873;
}

.ctcus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  position: absolute;
  transform: translateY(28vw);
  text-align: justify;
}
.titles {
  padding: 8px;
}
.titles h1 {
  color: white;
  font-size: 3vw;
}
.title p {
  align-items: center;
  color: white;
  text-align: justify;
  width: 54%;
}

.info-container {
  position: absolute;
  display: grid;
  margin-top: 4vw;
  /* grid-template-columns: 1fr 0.2fr; */
}
.info {
  display: flex;
  flex-direction: column;
}

.info {
  margin-top: 1vw;
}
.double-stack {
  margin-top: 3.4vw;
}
.db-stack {
  margin-left: 30vw;
  margin-bottom: 10vw;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.form-container {
  top: 6.4vw;
  right: 2vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.content p {
  width: 100%;
}

.form {
  position: absolute;
  background-color: white;
  width: 36%;
  height: 42vw;
}
.form h2 {
  padding: 2vw 2vw 1vw;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-box {
  padding: 10px;
  position: relative;
}
::placeholder {
  font-family: "Poppins", sans-serif;
  position: relative;
  opacity: 0.6;
  font-size: 1.2vw;
}
input,
textarea {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-indent: 10px;
}
input::placeholder,
textarea::placeholder {
  text-align: left;
  padding: 0;
  text-indent: 10px;
}
input {
  width: 30vw;
  height: 3.4vw;
}

.input-box {
  position: relative;
}

textarea {
  width: 30vw;
  box-sizing: border-box;
  padding: 10px 1px 5vw;
  font-size: 16px;
  resize: vertical;
  overflow: auto;
}
input:focus {
  outline: none;
  border-color: #ffb32b;
}
button {
  position: relative;
  padding: 12px 12.8vw 12px 12.8vw;
  background-color: #ffb32b;
  border: none;
  font-weight: bold;
  color: white;
  font-size: 1.2vw;
  border-radius: 4px;
  margin-top: 16px;
}
button:hover {
  border-radius: 4px;
  background-color: #f7c873;
  font-weight: bolder;
}
button:active {
  border-radius: 4px;
  background-color: #f7c873;
  box-shadow: 0 6px #f1f1f1f1;
  transform: translateY(-2px);
}
.content {
  display: grid;
}

.content p {
  line-height: 1.8vw;
  font-size: 1vw;
  font-family: "Poppins", sans-serif;
  width: 100%;
  color: #232323;
}
.content-long p {
  line-height: 1.8vw;
  font-size: 1vw;
  font-family: "Poppins", sans-serif;
  width: 30%;
  color: #232323;
}

#preferred {
  width: 30vw;
  padding: 1vw;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 912px) {
  body {
    height: 60vw;
  }
  .navbar {
    display: none;
  }

  .nav-menu ul li {
    display: block;
  }
  .show-nav {
    /* display: flex !important; */
    translate: 0px 0px !important;
  }

  .nav-menu {
    /* display: none; */
    position: fixed;
    flex-direction: column;
    background: white;
    width: 34vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all 0.25s ease-in-out;
    translate: -200px 0px;
  }
  .navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav #fatimes {
    margin-bottom: 4vw;
    font-size: 6vw;
    width: 20vw;
    padding-left: 6vw;
    display: block;
    color: #232323;
  }
  nav .fa {
    margin-bottom: 4vw;
    font-size: 6vw;
    width: 20vw;
    padding: 1vw;
    display: block;
    color: #232323;
  }
  .nav-menu ul li a {
    margin-bottom: 10vw;
    font-size: 3vw;
    color: #232323;
  }
  .cursor {
    cursor: auto;
    display: none;
  }

  .title {
    position: absolute;
    transform: translateY(120vw);
  }
  .titles {
    padding: 8px;
  }
  .titles h1 {
    color: #232323;
    font-size: 6vw;
    font-weight: bold;
  }
  .title p {
    align-items: center;
    color: #232323;
    text-align: justify;
    width: 74%;
    font-size: 4vw;
  }

  .info-container {
    position: absolute;
    display: grid;
    margin-top: 4vw;
  }
  .info {
    display: flex;
    flex-direction: column;
    margin-left: 6vw;
  }

  .info {
    display: flex;
  }
  .double-stack {
    margin-top: 3.4vw;
  }
  .db-stack {
    margin-left: 50vw;
  }
  .form-container {
    top: 6.4vw;
    align-items: center;
    left: 2vw;
  }

  .form {
    border-radius: 2px;
    width: 62%;
    height: 90vw;
  }
  .form h2 {
    font-size: 4vw;
    padding: 2vw 5vw 1vw;
  }
  .input-box {
    padding: 10px;
    position: relative;
  }
  ::placeholder {
    font-family: "Poppins", sans-serif;
    position: relative;
    opacity: 0.6;
    font-size: 3vw;
  }
  input,
  textarea {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-indent: 10px;
  }
  input::placeholder,
  textarea::placeholder {
    text-align: left;
    padding: 0;
    text-indent: 10px;
  }
  input {
    width: 50vw;
    height: 6vw;
  }

  .input-box {
    position: relative;
  }

  textarea {
    width: 50vw;
    box-sizing: border-box;
    padding: 10px 1px 5vw;
    font-size: 16px;
    resize: vertical;
    overflow: auto;
  }
  input:focus {
    outline: none;
    border-color: #ffb32b;
  }
  button {
    position: relative;
    padding: 12px 20vw 12px 20vw;
    background-color: #ffb32b;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 3.6vw;
    border-radius: 4px;
    margin-top: 16px;
  }
  button:hover {
    border-radius: 4px;
    background-color: #f7c873;
    font-weight: bolder;
  }
  button:active {
    border-radius: 4px;
    background-color: #f7c873;
    box-shadow: 0 6px #f1f1f1f1;
    transform: translateY(-2px);
  }
  .content p {
    line-height: normal;
    font-size: 3vw;
    width: 100%;
    color: #232323;
  }
  .content-long p {
    line-height: normal;
    font-family: "Poppins", sans-serif;
    font-size: 3vw;
    width: 42%;
  }

  #preferred {
    width: 50vw;
    padding: 1vw;
    font-family: "Poppins", sans-serif;
  }
  .contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-us p {
    font-size: 3vw;
  }
}

@media screen and (max-width: 768px) {
  .form {
    border-radius: 2px;
    width: 62%;
    height: 80vw;
  }
}
@media screen and (max-width: 540px) {
  .form {
    border-radius: 2px;
    width: 62%;
    height: 110vw;
  }
}
@media screen and (max-width: 375px) {
  .form {
    border-radius: 2px;
    width: 62%;
    height: 110vw;
  }
}
