* {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: url(/assets/PriceListPage.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-color: #f1f1f1;
}

#price {
  text-decoration: underline;
  color: #ffb32b;
}
nav img,
nav .fa {
  display: none;
  width: 6vw;
}
#hamburger {
  z-index: 2;
  color: #232323;
}

.nav-menu i {
  display: none;
}
.jcc-logo {
  z-index: -1;
  max-height: 100%;
}
.logo {
  max-height: 16%;
  max-width: 16%;
  margin-top: 26%;
  margin-left: 6%;
}

.header {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 0;
  top: 0;
  padding: 4%;
  margin-left: 4%;
  color: whitesmoke;
  font-weight: bolder;
  cursor: pointer;
  font-size: 1.2vw;
}

ul li {
  list-style: none;
  margin-bottom: 0.6%;
}

ul li a {
  z-index: 2;
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: 0.2s;
}
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: whitesmoke;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 0.09s ease;
  mix-blend-mode: difference;
}
ul li:hover ~ .cursor {
  transform: scale(2);
}

.header a {
  margin-bottom: 0.4vw;
  color: #232323;
  text-decoration: none;
}

.header a:hover {
  transition: 0.4s;
  color: #f7c873;
}

.title {
  top: 10vw;
  /* left: 29vw; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #232323;
}
.title h1 {
  position: relative;
  font-size: 4.6vw;
  transform: translate(-20%, -50%);
}
.ticket {
  top: 12vw;
  position: relative;
  display: grid;
  justify-content: center;
}
.ticket-box {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* transform: translateY(50%); */
}
.content h2 {
  font-size: 2vw;
}
.card {
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 26vw;
  height: 36vw;
  border-radius: 4px;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #cb553b, #ffb32b);
}
.cardmid {
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 26vw;
  height: 36vw;
  border-radius: 4px;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #ffb32b, #cb553b);
}
.cardmid:hover,
.cardmid:focus {
  transition: 0.4s;
  color: white;
  background-color: #cb553b;
  transform: translateX(1%) translateY(-1%);
}
.card:hover,
.card:focus {
  transition: 0.4s;
  color: white;
  background-color: #cb553b;
  transform: translateX(1%) translateY(-1%);
}

h2 {
  padding: 2vw 0 1vw 1.6vw;
}
h3 {
  font-size: 1.6vw;
  width: 60%;
  text-align: right;
}
.redirect {
  margin-top: 16vw;
}
.benefit {
  padding: 4vw 2vw 0vw 2vw;
  font-size: 1vw;
  line-height: 2.4vw;
  font-family: "Poppins", sans-serif;
}
.benefit p {
  font-size: 1vw;
}
.button {
  position: absolute;
  padding: 6vw 2vw 0vw 2vw;
  overflow: hidden;
}
.buttonSport {
  position: absolute;
  padding: 3.8vw 2vw 0vw 2vw;
  overflow: hidden;
}
.buttonmid {
  padding: 3.6vw 2vw 2vw 2vw;
}
button {
  font-size: 1vw;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 0.3vw;
  border-image-source: linear-gradient(to left, #ffb32b, #f7c873);
  background-color: transparent;
  padding: 1vw 1vw 1vw 1vw;
  letter-spacing: 0.22vw;
  font-weight: bold;
}
button:hover {
  transition: 0.4s;
  background: linear-gradient(90deg, #cb553b, #ffb32b);
  color: white;
}
button:active {
  background-color: #ffb32b;
  box-shadow: 0 6px #e0e0e0;
  transform: translateY(-2px);
}
.button span {
  font-size: 0.8vw;
}
.buttonSport span {
  font-size: 0.8vw;
}
.buttonmid span {
  font-size: 0.8vw;
}
.exp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12vw;
}
.explore {
  margin-top: 2%;
  color: #232323;
  text-decoration: underline;
  font-size: 1.2vw;
  font-weight: bold;
  cursor: pointer;
}
.arrow {
  cursor: pointer;
  font-size: 2vw;
  font-weight: lighter;
}
.redirect {
  opacity: 0;
  transform: translateY(35%);
  transition: opacity 0.7s, transform 0.7s;
}

.redirect.scrolled {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.7s, transform 0.7s;
}

.git {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 10vw;
}
.git h1 {
  width: 80%;
  color: #232323;
  font-size: 3.4vw;
  display: flex;
  flex-direction: column;
  padding: 8vw;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  background: #cb553b;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #232323;
  border-radius: 2vw;
  width: 18vw;
  padding: 1vw 1vw 1vw 2vw;
  position: relative;
  transition: background 0.4s;
}
.buttons:hover {
  /* background: linear-gradient(30deg, #f7c873, #ffb32b); */
  color: #cb553b;
  background: transparent;
}
.buttons:active {
  background-color: #e0e0e0;
  box-shadow: 0 6px #cb553b;
  transform: translateY(-2px);
}
.buttons a {
  text-align: left;
  font-size: 1.2vw;
  text-decoration: none;
  color: white;
}
.buttons a:hover,
.buttons a:active {
  transition: 0.4s;
  color: #cb553b;
  text-decoration: none;
}
.arrow-container {
  margin-left: 11vw;
}
.arrows {
  cursor: pointer;
  background-color: #232323;
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  margin: -1.8vw auto;
  display: flex;
  justify-content: center;
}

.arro {
  margin-bottom: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  font-size: 2.4vw;
  font-weight: lighter;
}
/* footer */
.divider hr {
  position: relative;
  margin-top: 2%;
}
.foot {
  font-size: 1vw;
  position: absolute;
  margin-left: 16%;
  display: flex;
  flex-direction: column;
  color: #232323;
}
.foot img {
  width: 32%;
}
.foot h1 {
  margin-top: 4vw;
  margin-bottom: 2vw;
}

.ctc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 8%;
  margin-right: 10%;
  font-size: 1vw;
}

.contact {
  position: absolute;
  color: #232323;
}
.contact h1 {
  margin-bottom: 1%;
}
.contact-box {
  font-size: 1.2vw;
}
.contact-box:hover {
  transition: 0.5s;
  color: #f7c873;
}

.ig {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  padding: 4px 8px 8px 4px;
}

.email {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  padding: 4px 8px 8px 4px;
}
.telephone {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  padding: 4px 8px 8px 4px;
}
.partner {
  color: #232323;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.partner h1 {
  margin-top: 14%;
  font-size: 2vw;
}
.partner img {
  cursor: pointer;
  width: 8%;
  vertical-align: middle;
  margin-right: 10px;
}

@media screen and (max-width: 912px) {
  /* .foot img {
    width: 26%;
  }
  .foot {
    margin-left: 8vw;
    font-size: 2.4vw;
    width: 40%;
  }
  .foot img {
    width: 26%;
  }
  .ctc {
    margin-right: 4vw;
    font-size: 2vw;
    margin-top: 4%;
  }
  .contact-box {
    font-size: 2.6vw;
  }
  .partner h1 {
    margin-top: 40%;
    font-size: 3.2vw;
  }
  .partner img{
    width: 14vw;
  } */
  .contact-box {
    font-size: 2vw;
  }
  .partner h1 {
    margin-top: 30%;
    font-size: 2vw;
  }
  .foot {
    font-size: 1.6vw;
    width: 40%;
  }
  .foot img {
    width: 42%;
  }
  .ctc {
    font-size: 2vw;
  }
  .ig {
    padding: 4px 8px 2px 4px;
  }

  .email {
    padding: 2px 8px 2px 4px;
  }
  .telephone {
    padding: 2px 8px 2px 4px;
  }
  .partner h1 {
    margin-top: 30%;
    font-size: 2.6vw;
  }
  .partner img {
    width: 12vw;
  }
  .navbar {
    display: none;
  }

  .nav-menu ul li {
    display: block;
  }
  .show-nav {
    /* display: flex !important; */
    translate: 0px 0px !important;
  }

  .nav-menu {
    /* display: none; */
    
    position: fixed;
    flex-direction: column;
    background: #232323;
    width: 34vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all 0.25s ease-in-out;
    translate: -200px 0px;
  }
  .navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav .fa {
    margin-bottom: 4vw;
    font-size: 6vw;
    width: 20vw;
    padding: 2vw;
    display: block;
    color: white;
  }
  .nav-menu ul li a {
    margin-bottom: 10vw;
    font-size: 3vw;
    color: white;
  }
  .cursor {
    cursor: auto;
    display: none;
  }
  .ticket-box {
    flex-direction: column;
    display: grid;
    top: 0;
    transform: translateY(2%);
  }
  .card {
    width: 66vw;
    height: 86vw;
  }
  .cardmid {
    width: 66vw;
    height: 86vw;
  }
  .content h2 {
    font-size: 4vw;
    padding: 4vw 0 1vw 6vw;
  }
  h3 {
    font-size: 4vw;
    width: 70%;
  }
  .benefit {
    margin-top: 4vw;
    padding: 4vw 2vw 0vw 6vw;
  }
  .benefit p {
    line-height: 5vw;
    font-size: 3vw;
  }
  button {
    font-size: 3vw;
    border-radius: 10px;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 0.8vw;
    border-image-source: linear-gradient(to left, #ffb32b, #f7c873);
  }
  .button {
    position: absolute;
    padding: 18vw 2vw 0vw 6vw;
    overflow: hidden;
  }
  button:hover,
  button:active {
    border-radius: 2px;
  }
  .buttonSport {
    position: absolute;
    padding: 16vw 2vw 0vw 6vw;
    overflow: hidden;
  }
  .buttonmid {
    padding: 14.6vw 2vw 2vw 6vw;
  }
  .button span {
    font-size: 2vw;
  }
  .buttonSport span {
    font-size: 2vw;
  }
  .buttonmid span {
    font-size: 2vw;
  }
  .explore {
    font-size: 3.6vw;
  }
  .arrow {
    font-size: 5.6vw;
  }
  .git h1 {
    font-size: 5vw;
  }
  .buttons a {
    font-size: 3vw;
  }
  .buttons {
    width: 36vw;
  }
  .button-container {
    width: 28vw;
    padding: 10vw 1vw 10vw 2vw;
  }
  .arrow-container {
    margin-left: 26vw;
  }
  .arrows {
    width: 5vw;
    height: 5vw;
    margin: -4.4vw auto;
  }

  .arro {
    margin-bottom: 1vw;
    font-size: 5vw;
  }
  .redirect {
    margin-top: 20vw;
  }
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 540px) {
}
