<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jockey's Conference Center</title>
    <link rel="stylesheet" href="/style/aboutUs.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" href="/assets/LOGO.png" />
    <script src="/scripts/main.js" defer></script>
  </head>
  <body>
    <div class="container">
      <section class="header">
        <nav>
          <!-- <img class="logow" src="/assets/logo not circle black.png" alt="" /> -->
          <div class="nav-menu">
            <i class="fa fa-times"></i>
            <div class="navbar">
              <ul>
                <li><a id="home" href="homePage.html">Home</a></li>
                <li><a href="event.html" id="event">Event</a></li>
                <li>
                  <a href="price.html" id="price">Price List</a>
                </li>
                <li><a href="aboutUs.html" id="aboutus">About Us</a></li>
                <li><a href="contactUs.html">Contact Us</a></li>
                <div class="cursor"></div>
              </ul>
            </div>
          </div>
          <i id="hamburger" class="fa fa-bars"></i>
        </nav>
      </section>
      <div class="left">
        <div class="title">
          <h1>JOCKEY'S CONFERENCE <span>Jakarta, Indonesia</span></h1>
        </div>
      </div>
      <div class="right">
        <div class="decor">
          <span class="one">State-of-</span>
          <!-- <br> -->
          <span class="two">the-art</span>
          <!-- <br> -->
          <span class="three">Cutting-edge</span>
        </div>
        <div class="side">
          <p class="rotate">JCC Splendors</p>
        </div>
      </div>
    </div>
    <div class="content">
      <img src="/assets/sec1.png" alt="" />
      <div class="text">
        <div class="align">
          <div class="blur">
            <div class="blur-content">
              <p>
                The Jockey's Conference Center (JCC) is a well-known convention
                center situated in Jakarta, Indonesia. Established in 1974, JCC
                has become a prominent venue for hosting various significant
                national and international events.
              </p>
            </div>
          </div>
          <div class="white">
            <p>
              Over the years, it has successfully organized numerous prestigious
              gatherings, such as the 11th Non-Aligned Movement Conference and
              the Asian-African Conference.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="certification">
      <div class="certi1">
        <div class="c-title">
          <h1>CERTIFICATION</h1>
        </div>
        <p>
          <b><i> IACC (International Association of Conference Centres)</i></b>
          Certification: Recognizing excellence in conference facilities,
          services, and customer satisfaction.
        </p>
      </div>
      <div class="pic">
        <img src="/assets/certi1.png" alt="" />
      </div>
    </div>
    <div class="certification2">
      <img src="/assets/certi2.png" alt="" />
      <div class="certi2">
        <div class="isi">
          <h1>
            <b><i>AIPC</i></b>
          </h1>
          <p>
            <b><i>AIPC Gold Quality Standards </i></b> Certification:
            Acknowledging JCC's adherence to the highest international standards
            in terms of facilities, services, and customer satisfaction, as set
            by the International Association of Convention Centres (AIPC).
          </p>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="divider">
        <hr />
      </div>
      <div class="foot">
        <h1>Jockey's Conference Center</h1>
        <img src="/assets/LOGOblack.png" alt="" />
      </div>
      <div class="ctc">
        <div class="contact">
          <h1>Contact Us</h1>
          <div class="contact-box">
            <div class="ig">
              <i
                class="fa fa-instagram fa-2x"
                style="padding-right: 0.8rem"
                aria-hidden="true"
              ></i>
              <span>@JCC.1974</span>
            </div>
          </div>
          <div class="contact-box">
            <div class="email">
              <i
                class="fa fa-envelope fa-2x"
                style="padding-right: 0.8rem"
                aria-hidden="true"
              ></i>
              <span>JCC.1974@Gmail.com</span>
            </div>
          </div>
          <div class="contact-box">
            <div class="telephone">
              <i
                class="fa fa-phone fa-2x"
                style="padding-right: 0.8rem"
                aria-hidden="true"
              ></i>
              <span>+628164472012</span>
            </div>
          </div>
        </div>
      </div>

      <div class="partner">
        <h1>Powered By</h1>
        <img src="/assets/partner/Sea Bank Logo 1.png" alt="" />
        <img src="/assets/partner/sinarmas.png" alt="" />
        <img src="/assets/partner/djarumlogo 1.png" alt="" />
        <img src="/assets/partner/astralogo 1.png" alt="" />
        <img src="/assets/partner/OWlogo 1.png" alt="" />
      </div>
    </div>
  </body>
</html>
