<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jockey's Conference Center</title>
    <link rel="stylesheet" href="/style/event.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" href="/assets/LOGO.png" />
  </head>
  <body>
    <div class="eventpage">
      <div class="event-container">
        <div class="navigation">
          <a href="/view/landing.html" class="home">
            <b>Home</b>
          </a>
          <a
            href="/view/event.html"
            class="event"
            style="text-decoration: underline; min-height: 1rem; color: #ffb32b"
            ><b>Event</b></a
          >
          <a class="price" style="min-height: 1rem">
            <b>Price List</b>
          </a>
          <a href="/view/aboutUs.html" class="aboutus" style="min-height: 1rem">
            <b>About Us</b>
          </a>
        </div>
        <div class="logo">
          <img src="/assets/logo not circle white.png" alt="" />
        </div>
        <div class="title">
          <p class="titles">JCC's Events</p>
        </div>
        <div class="info">
          <p>
            Discover the extraordinary at JCC Center! Step into a world of
            endless possibilities, where innovation, collaboration, and
            inspiration converge. From captivating conferences and exhibitions
            to exhilarating performances, JCC Center offers an unparalleled
            experience that will ignite your passion and propel you towards
            success. Immerse yourself in a dynamic environment, connect with
            industry leaders, expand your network, and unlock new opportunities.
            With state-of-the-art facilities and a reputation for excellence,
            JCC Center is the ultimate destination for those who dare to dream
            big.
          </p>
        </div>
        <div class="event-list">
          <div class="border">
            <img src="/assets/events/asia economic conference.png" alt="" />
          </div>
          <div class="card">
            <div class="card-border">
              <div class="card-content">
                <span class="date">21<sup>th</sup> Aug 2023</span>
                <h2>Asia Economic Conference</h2>
                <p>
                  The Asia Economic Conference is a significant annual event
                  that brings together economic experts, policymakers, and
                  business leaders from across Asia to discuss and explore
                  economic opportunities and challenges.
                </p>
              </div>
            </div>
          </div>
          <div class="border1">
            <img src="/assets/events/picture the nature.png" alt="" />
          </div>
          <div class="card1">
            <div class="card-border">
              <div class="card-content">
                <span class="date">17<sup>th</sup> May 2023</span>
                <h2>Picture The Nature</h2>
                <p>
                  Featuring Edward Cooper and his depictions of nature. Expect
                  to see stunning landscapes, flora, fauna, and other natural
                  elements captured in various art forms. Edward often use
                  nature as his muse, finding inspiration in the beauty and
                  complexity of the natural world.
                </p>
              </div>
            </div>
          </div>
          <div class="border2">
            <img src="/assets/events/etude op8 no 12.png" alt="" />
          </div>
          <div class="card2">
            <div class="card-border">
              <div class="card-content">
                <span class="date">25<sup>th</sup> Dec 2023</span>
                <h2>Etude Op. 8 No. 12</h2>
                <p>
                  Experience the unparalleled beauty of Alexander Scriabin's
                  Etude Op. 8 No. 12 at our upcoming classical music concert
                  event. Immerse yourself in the haunting melodies and virtuosic
                  orchestra playing.
                </p>
              </div>
            </div>
          </div>
          <div class="click">
            <div class="button">
              <a href="/view/price.html">Get Your Ticket Now</a>
            </div>
            <div class="arrows">
              <span class="arrow">&#8594;</span>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="divider">
          <hr />
        </div>
        <div class="foot">
          <h1>Jockey's Conference Center</h1>
          <img src="/assets/LOGO.png" alt="" />
        </div>
        <div class="contact">
          <h1>Contact Us</h1>
          <div class="ig">
            <i
              class="fa fa-instagram fa-2x"
              style="padding-right: 0.8rem"
              aria-hidden="true"
            ></i>
            <span>@JCC.1974</span>
          </div>
          <div class="email">
            <i
              class="fa fa-envelope fa-2x"
              style="padding-right: 0.8rem"
              aria-hidden="true"
            ></i>
            <span>JCC.1974@Gmail.com</span>
          </div>
          <div class="telephone">
            <i
              class="fa fa-phone fa-2x"
              style="padding-right: 0.8rem"
              aria-hidden="true"
            ></i>
            <span>+628164472012</span>
          </div>
        </div>
        <div class="partner">
          <h1>Powered By</h1>
          <img src="/assets/partner/Sea Bank Logo 1.png" alt="" />
          <img src="/assets/partner/sinarmas.png" alt="" />
          <img src="/assets/partner/djarumlogo 1.png" alt="" />
          <img src="/assets/partner/astralogo 1.png" alt="" />
          <img src="/assets/partner/OWlogo 1.png" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
