<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jockey Conference Center</title>
    <link rel="stylesheet" href="/style/homePage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" href="/assets/LOGO.png" />
    <script src="/scripts/landing.js" defer></script>
    <script src="/scripts/main.js" defer></script>
  </head>
  <body>
    <section class="header">
      <nav>
        <img src="/assets/logo not circle white.png" alt="" />
        <div class="nav-menu">
          <i class="fa fa-times"></i>
          <div class="navbar">
            <ul>
              <li><a id="home" href="homePage.html">Home</a></li>
              <li><a href="event.html">Event</a></li>
              <li>
                <a href="price.html">Price List</a>
              </li>
              <li><a href="aboutUs.html">About Us</a></li>
              <li><a href="contactUs.html">Contact Us</a></li>
              <div class="cursor"></div>
            </ul>
          </div>
        </div>
        <i id="hamburger" class="fa fa-bars"></i>
      </nav>
    </section>
    <div class="span">
      <div class="jcc-logo">
        <img class="logo" src="/assets/LOGO.png" alt="Logo" />
      </div>
      <div class="main">
        <div class="jcc">Jockey's Conference Center</div>
        <div class="location">Jakarta, Indonesia</div>
      </div>
    </div>
    <div class="tipo-container">
      <div class="tipografi">
        <div class="one">One</div>
        <div class="stop">Stop</div>
        <div class="title">Event</div>
        <div class="space">Space</div>
      </div>
    </div>
    <!-- <div class="content"> -->
    <div class="brief-his">
      <div class="line">
        <hr class="horizontal" />
      </div>
      <div class="mid-container">
        <div class="history">JCC History</div>
      </div>
      <div class="stars">
        <img src="/assets/Star.png" alt="" class="star" />
      </div>
      <div class="histories">
        <p class="jcc-history">
          Jockey's Conference Center (JCC) located in Jakarta, Indonesia is a
          renowned convention center. First opened in 1974, JCC has hosted many
          important national and international events. Throughout the years, JCC
          has hosted numerous high-profile events, including the 11th
          Non-Aligned Movement Conference and the Asian-African Conference. It
          remains a highly sought-after venue throughout the year.
        </p>
      </div>
    </div>
    <div class="button">
      <a class="abs" href="/view/aboutUs.html">About Us</a>
    </div>

    <div class="ups">
      <div class="upcoming">
        <div class="upcomingevents">
          <h1 class="up">Upcoming Events</h1>
        </div>
        <div class="blur">
          <div class="slide-content">
            <img src="/assets/Indoor sports.png" alt="" />
            <img src="/assets/Exhibition.png" alt="" />
            <img src="/assets/Musical Concert.png" alt="" />
            <img src="/assets/conference.png" alt="" />
            <img src="/assets/Art Exhibition.png" alt="" />
          </div>
          <div class="exp">
            <a class="explore" href="/view/event.html">
              Explore Event <span class="arrow">&#8594;</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="divider">
        <hr />
      </div>
      <div class="foot">
        <h1>Jockey's Conference Center</h1>
        <img src="/assets/LOGO.png" alt="" />
      </div>
      <div class="ctc">
        <div class="contact">
          <h1>Contact Us</h1>
          <div class="contact-box">
            <div class="ig">
              <i
                class="fa fa-instagram fa-2x"
                style="padding-right: 0.8rem"
                aria-hidden="true"
              ></i>
              <span>@JCC.1974</span>
            </div>
          </div>
          <div class="contact-box">
            <div class="email">
              <i
                class="fa fa-envelope fa-2x"
                style="padding-right: 0.8rem"
                aria-hidden="true"
              ></i>
              <span>JCC.1974@Gmail.com</span>
            </div>
          </div>
          <div class="contact-box">
            <div class="telephone">
              <i
                class="fa fa-phone fa-2x"
                style="padding-right: 0.8rem"
                aria-hidden="true"
              ></i>
              <span>+628164472012</span>
            </div>
          </div>
        </div>
      </div>

      <div class="partner">
        <h1>Powered By</h1>
        <img src="/assets/partner/Sea Bank Logo 1.png" alt="" />
        <img src="/assets/partner/sinarmas.png" alt="" />
        <img src="/assets/partner/djarumlogo 1.png" alt="" />
        <img src="/assets/partner/astralogo 1.png" alt="" />
        <img src="/assets/partner/OWlogo 1.png" alt="" />
      </div>
    </div>
  </body>
</html>
