<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jockey Converence Center</title>
    <link rel="stylesheet" href="/style/landing.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" href="/assets/LOGO.png" />
    <script src="/scripts/landing.js" defer></script>
  </head>
  <body>
    <div class="homepage">
      <div class="container">
        <div class="overlap-group">
          <div class="event">
            <div class="navigation">
              <a
                href="/view/landing.html"
                class="home"
                style="
                  text-decoration: underline;
                  min-height: 1rem;
                  color: #ffb32b;
                "
              >
                <b>Home</b>
              </a>
              <a href="/view/event.html" class="event" style="min-height: 1rem"
                ><b>Event</b></a
              >
              <a class="price" style="min-height: 1rem">
                <b>Price List</b>
              </a>
              <a
                href="/view/aboutUs.html"
                class="aboutus"
                style="min-height: 1rem"
              >
                <b>About Us</b>
              </a>
            </div>
            <img class="logo" src="/assets/LOGO.png" alt="Logo" />
            <div class="main">
              <div class="location">Jakarta, Indonesia</div>
              <div class="jcc">Jockey's Conference Center</div>
            </div>
            <div class="tipografi">
              <div class="one">One</div>
              <div class="stop">Stop</div>
              <div class="title">Event</div>
              <div class="space">Space</div>
            </div>
          </div>
          <div class="middle">
            <div class="mid-container">
              <div class="history">JCC History</div>
            </div>
            <div class="histories">
              <p class="jcc-history">
                Jockey's Conference Center (JCC) located in Jakarta, Indonesia
                is a renowned convention center. First Opened in 1974, JCC hold
                many important national and international event. Throughout the
                years, JCC has hosted numerous high-profile events, including
                the 11th Non-Aligned Movement Conference and the Asian-African
                Conference. It remains a highly sought-after venue throughout
                the year.
              </p>
              <img src="/assets/Star.png" alt="" class="star" />
            </div>
            <div class="buttonabs">
              <div class="button">
                <div class="abs">About Us</div>
              </div>
            </div>
            <div class="upcoming">
              <div class="upcomingevents">
                <h1 class="up">Upcoming Events</h1>
              </div>
              <div class="blur">
                <div class="slide-content">
                  <img src="/assets/Indoor sports.png" alt="" />
                  <img src="/assets/Exhibition.png" alt="" />
                  <img src="/assets/Musical Concert.png" alt="" />
                  <img src="/assets/Converence.png" alt="" />
                  <img src="/assets/art exhibition.png" alt="" />
                </div>
                <a class="explore" href="/view/event.html">
                  Explore Event <span class="arrow">&#8594;</span>
                </a>

                <!-- <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="34"
                      height="34"
                      viewBox="0 0 34 8"
                    >
                      <path
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1"
                        d="M4 12h16m0 0l-6-6m6 6l-6 6"
                      />
                    </svg> -->
              </div>
            </div>
            <div class="footer">
              <div class="divider">
                <hr />
              </div>
              <div class="foot">
                <h1>Jockey's Conference Center</h1>
                <img src="/assets/LOGO.png" alt="" />
              </div>
              <div class="contact">
                <h1>Contact Us</h1>
                <div class="ig">
                  <i
                    class="fa fa-instagram fa-2x"
                    style="padding-right: 0.8rem"
                    aria-hidden="true"
                  ></i>
                  <span>@JCC.1974</span>
                </div>
                <div class="email">
                  <i
                    class="fa fa-envelope fa-2x"
                    style="padding-right: 0.8rem"
                    aria-hidden="true"
                  ></i>
                  <span>JCC.1974@Gmail.com</span>
                </div>
                <div class="telephone">
                  <i
                    class="fa fa-phone fa-2x"
                    style="padding-right: 0.8rem"
                    aria-hidden="true"
                  ></i>
                  <span>+628164472012</span>
                </div>
              </div>
              <div class="partner">
                <h1>Powered By</h1>
                <img src="/assets/partner/Sea Bank Logo 1.png" alt="" />
                <img src="/assets/partner/sinarmas.png" alt="" />
                <img src="/assets/partner/djarumlogo 1.png" alt="" />
                <img src="/assets/partner/astralogo 1.png" alt="" />
                <img src="/assets/partner/OWlogo 1.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
