<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jockey's Conference Center</title>
    <link rel="stylesheet" href="/style/price.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" href="/assets/LOGO.png" />
    <script src="/scripts/main.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="bg-image">
        <section class="header">
          <nav>
            <div class="nav-menu">
              <i class="fa fa-times"></i>
              <div class="navbar">
                <ul>
                  <li><a id="home" href="homePage.html">Home</a></li>
                  <li><a href="event.html" id="event">Event</a></li>
                  <li>
                    <a href="price.html" id="price">Price List</a>
                  </li>
                  <li><a href="aboutUs.html">About Us</a></li>
                  <li><a href="contactUs.html">Contact Us</a></li>
                  <div class="cursor"></div>
                </ul>
              </div>
            </div>
            <i id="hamburger" class="fa fa-bars"></i>
          </nav>
        </section>
        <div class="container">
          <div class="title">
            <h1>JCC'S Pricings</h1>
          </div>
        </div>

        <div class="ticket">
          <div class="ticket-box">
            <div class="card">
              <span></span><span></span> <span></span> <span></span>
              <div class="content">
                <h2>Business Package</h2>
                <h3>Rp. 59.000.000 <span>/ Day</span></h3>
                <div class="benefit">
                  <p>Seating for 10.000 attendees</p>
                  <p>88m x 31,8m x 26,4m</p>
                  <p>Audiovisual Equipment</p>
                  <p>Merchandise Set</p>
                </div>
                <div class="button">
                  <!-- <a href="#">Buy Tickets</a> -->
                  <button>Reserve Venue</button>
                  <span>*T&C Applied</span>
                </div>
              </div>
            </div>
            <div class="cardmid">
              <div class="content">
                <h2>Premium Package</h2>
                <h3>Rp. 99.000.000 <span>/ Day</span></h3>
                <div class="benefit">
                  <p>Seating for 100.000 attendees</p>
                  <p>104m x 53,8m x 36,4m</p>
                  <p>Speaker Meet and greet room</p>
                  <p>Networking Reception</p>
                  <p>Merchandise Set</p>
                </div>
                <div class="buttonmid">
                  <button>Reserve Venue</button>
                  <span>*T&C Applied</span>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="content">
                <h2>Sports Package</h2>
                <h3>Rp. 79.000.000 <span>/ Day</span></h3>
                <div class="benefit">
                  <p>Seating for 50.000 attendees</p>
                  <p>140m x 103,8m x 56,4m</p>
                  <p>Scoreboard and Screens</p>
                  <p>Athlete’s Backstage Area</p>
                  <p>First Aid Room</p>
                </div>
                <div class="buttonSport">
                  <button>Reserve Venue</button>
                  <span>*T&C Applied</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="redirect">
          <div class="exp">
            <a class="explore" href="/view/event.html">
              <span class="arrow">&larr;</span> Explore Event
            </a>
          </div>
          <div class="git">
            <h1>Any queries or need assistance?</h1>
            <div class="button-container">
              <div class="buttons">
                <a href="/view/contactUs.html">Get In Touch</a>
                <div class="arrow-container">
                  <div class="arrows">
                    <span class="arro">&#8594;</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="divider">
            <hr />
          </div>
          <div class="foot">
            <h1>Jockey's Conference Center</h1>
            <img src="/assets/LOGOblack.png" alt="" />
          </div>
          <div class="ctc">
            <div class="contact">
              <h1>Contact Us</h1>
              <div class="contact-box">
                <div class="ig">
                  <i
                    class="fa fa-instagram fa-2x"
                    style="padding-right: 0.8rem"
                    aria-hidden="true"
                  ></i>
                  <span>@JCC.1974</span>
                </div>
              </div>
              <div class="contact-box">
                <div class="email">
                  <i
                    class="fa fa-envelope fa-2x"
                    style="padding-right: 0.8rem"
                    aria-hidden="true"
                  ></i>
                  <span>JCC.1974@Gmail.com</span>
                </div>
              </div>
              <div class="contact-box">
                <div class="telephone">
                  <i
                    class="fa fa-phone fa-2x"
                    style="padding-right: 0.8rem"
                    aria-hidden="true"
                  ></i>
                  <span>+628164472012</span>
                </div>
              </div>
            </div>
          </div>

          <div class="partner">
            <h1>Powered By</h1>
            <img src="/assets/partner/Sea Bank Logo 1.png" alt="" />
            <img src="/assets/partner/sinarmas.png" alt="" />
            <img src="/assets/partner/djarumlogo 1.png" alt="" />
            <img src="/assets/partner/astralogo 1.png" alt="" />
            <img src="/assets/partner/OWlogo 1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
